.Logo {
  min-width: 290px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.Logo svg {
  width: 36px;
}

.Logo span {
  font-size: 32px;
  font-weight: 400;
  margin-left: 12px;
}

@media all and (max-width: 575px) {
  .Logo {
    min-width: auto;
  }

  .Logo svg {
    width: 24px;
  }

  .Logo span {
    display: none;
  }
}