.IssuesTable {
  margin-top: 25px;
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  overflow-x:auto;
}
table {
  width: 100%;
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  padding: 16px 20px;
}

th {
  text-align: left;
}

td {
  border-top: 1px solid #DFDFDF
}

td span {
  color: #ccc;
}

td a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

td a > span {
  color: #24292E;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
}

td a:hover > span {
  color: #000;
  border-bottom: 1px solid #000;
}

td a > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.Pagination {
  padding: 12px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.PaginationPerPage {
  display: flex;
  align-items: center;
}

.Selector{
  margin-left: 12px;
  min-width: 75px;
}

.PaginationCountOf, .PaginationNav {
  margin-left: 24px;
}

.PaginationNav button {
  cursor: pointer;
  padding: 7px 9px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color ease .25s;
}


.PaginationNav button:hover {
  background-color: #DFDFDF;
}

.PaginationNav button:disabled {
  cursor: default;
  background-color: transparent;
}

@media all and (max-width: 575px) {
  table {
    font-size: 14px;
  }
}