body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  padding-bottom: 70px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}